page {
    margin-top: 20px;
    background-color: rgb(97, 144, 232);
}

.plan {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
}

.index {
    margin: 20px;
    background-color:white;
    border: 1px;
    border-radius: 10px;
}

.container {
    padding:30px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.label {
    color: gray;
    font-size: 20rpx;
}